@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700&display=swap&subset=greek-ext');
html, body {
    height: 100%;
}

body {
    background-image: url('https://unsplash.it/1920/1080?blur');
    background-size: cover;
    font-family: 'Noto Sans', sans-serif;
    font-size: 100%;
    color: #333333;
    text-align: center;
}

a {
    text-decoration: none;
}

.container {
    background-color: #ffffff77;
    height: 100%;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 12px 30px 16px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 12px 30px 16px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 12px 30px 16px rgba(0, 0, 0, 0.41);
    -webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation-delay: 0.8s;
}

h1 {
    margin: 5% 0;
    font-size: 3em;
}

h2 {
    margin: 3% 0;
    font-size: 1.8em;
}

h3 {
    margin: 2% 0;
    font-size: 1.6em;
}

.contact {
    font-size: 1.2em;
}

.contact li {
    list-style: none;
    margin: 1% 0;
}

.map {
    height: 40vh;
    width: 100%;
    margin-top: auto;
}

/* Animations */

/* ----------------------------------------------
 * Generated by Animista on 2019-9-14 2:58:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-vertical-right
 * ----------------------------------------
 */

@-webkit-keyframes flip-vertical-right {
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    0% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

@keyframes flip-vertical-right {
    100% {
        opacity: 1;
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    0% {
        opacity: 0;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

@media (max-width: 768px) {
    body {
        font-size: 80%;
    }
    .container {
        width: 80%;
    }
}